app/src/main/assets/crashlytics-build.properties
app/src/main/res/values/com_crashlytics_export_strings.xml
gradle.properties
.gradle
app/local.properties
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
*.iml
*.ipr
*.iws
.idea/gradle.xml
app/app.iml
app/crashlytics.properties


gradle/

# Library
image-chooser-library/gradle.properties
image-chooser-library/build
image-chooser-library/image-chooser-library-image-chooser-library.iml

.idea
.idea/workspace.xml

image-chooser-library.iml
ImageChooserApp.iml
