<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beanie.imagechooserapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    // For SkyDrive
    <uses-permission android:name="com.microsoft.skydrive.content.MetadataContentProvider"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">

        <!-- Google Play Services-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageChooserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VideoChooserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MediaChooserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FileChooserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FragmentImageChooserActivity"
            android:screenOrientation="portrait" />

        <!-- Admob activity -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="ccbe3957847c84647fbf4938cf6adb0da0a5583e" />
    </application>

</manifest>
